name: Check

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    name: Build nlxd
    runs-on: ubuntu-latest
    env:
      RUSTFLAGS: --deny warnings

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: 1.71.1
          components: clippy, rustfmt

      - name: Check code format
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --check

      - name: Lint code
        uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: --all-features

      - name: Run tests
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --all-features
